<% if (post.comments) { %>
    <% if (theme.disqus) { %>
        <div id="disqus_thread"></div>
        <noscript>
            Please enable JavaScript to view the
            <a href="//disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript>
        <script>
            (function () {
                var d = document, s = d.createElement('script');
                s.src = '//<%= theme.disqus %>.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
    <% } else if (theme.duoshuo) { %>
        <div class="ds-thread"
             data-thread-key="<%= post._id %>"
             data-title="<%= post.title %>"
             data-url="<%= url_for(post.path) %>">
        </div>

        <script>
            var duoshuoQuery = {
                short_name: '<%= theme.duoshuo %>'
            };
        	(function() {
        		var ds = document.createElement('script');
                ds.async = true;
        		ds.src = '//static.duoshuo.com/embed.js';
        		(document.getElementsByTagName('head')[0]
        		 || document.getElementsByTagName('body')[0]).appendChild(ds);
        	})();
        </script>
    <% } %>
<% } %>
