<% if (post.comments) { %>
    <div id="disqus_thread"></div>

    <div class="ds-thread"
         data-thread-key="<%= post._id %>"
         data-title="<%= post.title %>"
         data-url="<%= url_for(post.path) %>">
    </div>

    <script>
        (function () {
            var duoshuo = function (short_name) {
                window.duoshuoQuery = {
                    short_name: short_name
                };
                (function() {
                    var ds = document.createElement('script');
                    ds.async = true;
                    ds.src = '//static.duoshuo.com/embed.js';
                    (document.getElementsByTagName('head')[0]
                     || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            };

            var disqus = function (short_name) {
                var s = document.createElement('script');
                s.src = '//' + short_name + '.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (document.head || document.body).appendChild(s);
            };

            <% if (theme.disqus && !theme.duoshuo) { %>
                disqus('<%= theme.disqus %>');
            <% } %>
            <% if (theme.duoshuo && !theme.disqus) { %>
                duoshuo('<%= theme.duoshuo %>');
            <% } %>
            <% if (theme.disqus && theme.duoshuo) { %>
                disqus('<%= theme.disqus %>');
                var g = document.createElement('img');
                g.src = '//www.google.co.uk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png';
                setTimeout(function () {
                    if (!g.complete) {
                        document.querySelector('#disqus_thread').innerHTML = '';
                        duoshuo('<%= theme.duoshuo %>');
                    }
                }, 7000);
            <% } %>
        })();
    </script>
<% } %>
